<div id="<%= dom_id rental %>">
  <p>
    <strong>Text:</strong>
    <%= rental.text_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= rental.title %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= rental.owner %>
  </p>

  <p>
    <strong>City:</strong>
    <%= rental.city %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= rental.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= rental.longitude %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= rental.category %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= rental.bedrooms %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= rental.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rental.description %>
  </p>

</div>
